header {
    background: linear-gradient(rgb(36, 35, 35),rgb(46, 45, 45));
    margin: 7px;
    border-radius: 10px;
    width: auto;
    padding: 20px;
}

.headp1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.headp2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.headp2 p {
    font-size: 12px;
    margin-top: 5px;
} 

.logo1 {
    height: 50px;
}

h1 {
    font-weight: bold;
}

body {
    background-color: black;
    color:white;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.list1 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: center;
}

.process {
    background: linear-gradient(rgb(36, 35, 35),rgb(46, 45, 45));
    display: inline-block;
    padding: 30px 20px;
    border-radius: 10px;
    margin: 30px;
    width: 18%;
    vertical-align: top;
    box-sizing: border-box;
    height: 90%;
    text-align: center;
}

.process:hover {
    transition: 1s;
    transform: scale(1.1);
    background: linear-gradient(rgb(0, 174, 255),rgb(0, 119, 255));
    p {
        color: white;
    }
}

.process p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 30px;
    color: rgb(158, 154, 154);
}

a {
    text-decoration: none;
}

.icon0 {
    height: 55%;
}

.icon1 {
    height: 60%;
    margin-top: 5px;
}

.icon3 {
    height: 45%;
    margin-top: 18px;
}

footer {
    background: linear-gradient(rgb(36, 35, 35),rgb(46, 45, 45));
    margin: 7px;
    border-radius: 10px;
    width: auto;
    padding: 20px;
    text-align: center;
    font-size: 10px;
    margin-top: auto;
}