header {
    background: linear-gradient(rgb(36, 35, 35),rgb(46, 45, 45));
    margin: 7px;
    border-radius: 10px;
    width: auto;
    padding: 20px;
}

.headp1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.headp2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.headp2 p {
    font-size: 12px;
    margin-top: 5px;
} 

.logo1 {
    height: 50px;
}

h1 {
    font-weight: bold;
}

body {
    background-color: black;
    color:white;
    font-family: 'Segoe UI';
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

.list1 {
    margin: auto;
    width: 100%;
    text-align: center;
    width: 90%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.process {
    background-color: gray;
    display: inline-block ;
    padding: 100px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 15%;
    margin: 30px;
}

.process p {
    font-size: 12px;
    margin-top: 5px;
}

footer {
    background: linear-gradient(rgb(36, 35, 35),rgb(46, 45, 45));
    margin: 7px;
    border-radius: 10px;
    width: auto;
    padding: 20px;
    text-align: center;
    font-size: 10px;
}