header {
    background-color: rgb(22, 22, 22);
    margin: 7px;
    border-radius: 10px;
    width: auto;
    padding: 20px;
}

.header_section1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.header_section2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.header_section2 p {
    font-size: 12px;
    margin-top: 5px;
} 

.logo1 {
    height: 50px;
}

h1 {
    font-weight: bold;
}

body {
    background-color: black;
    color:white;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}